html,body{
    font-family: Helvetica, sans-serif;
}
main{
      margin-top: 70px;
}
ul{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

button{
  padding: auto;
  margin: auto;

  outline: 2px solid transparent;
  outline-offset: 2px;
  border: none;
  background-color: transparent;
}

button:focus-visible,
a:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: 2px solid #333;
  outline-offset: 2px;
}

.added_to_cart.wc-forward{
  display: none !important;
}

@media (max-width: 1000px) {
  main{
      margin-top: 0px;
}
}
