<?xml version="1.0"?>
<ruleset name="BSC WordPress Coding Standards">
	<description>WordPress Coding Standards for the Bubble Skin Care theme.</description>

	<arg value="ps"/>
	<arg name="basepath" value="./"/>
	<arg name="parallel" value="8"/>
	<arg name="extensions" value="php"/>
	<arg name="colors"/>

	<file>.</file>

	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>
	<exclude-pattern>/tools/php-vendor/*</exclude-pattern>
	<exclude-pattern>/test-results/*</exclude-pattern>
	<exclude-pattern>/playwright-report/*</exclude-pattern>
	<exclude-pattern>/Videos/*</exclude-pattern>
	<exclude-pattern>/tests/*</exclude-pattern>

	<config name="minimum_supported_wp_version" value="6.9"/>
	<config name="testVersion" value="8.2-"/>

	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
		<exclude name="WordPress.WhiteSpace.ControlStructureSpacing.NoSpaceAfterOpenParenthesis"/>
		<exclude name="WordPress.WhiteSpace.ControlStructureSpacing.NoSpaceBeforeCloseParenthesis"/>
		<exclude name="WordPress.WhiteSpace.OperatorSpacing.NoSpaceBefore"/>
		<exclude name="WordPress.WhiteSpace.OperatorSpacing.NoSpaceAfter"/>
	</rule>

	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="bsc-2-0"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.Files.FileName">
		<properties>
			<property name="is_theme" value="true"/>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.ShortPrefixPassed"/>
		<properties>
			<property name="prefixes" type="array">
				<element value="bsc"/>
				<element value="BSC"/>
			</property>
		</properties>
	</rule>
</ruleset>
