includes:
	- tools/php-vendor/szepeviktor/phpstan-wordpress/extension.neon
	- phpstan-baseline.neon

parameters:
	level: 0
	paths:
		- admin
		- components
		- emails
		- inc
		- includes
		- plugins
		- scripts
		- woocommerce
		- functions.php
		- page-login.php
		- page-register.php
		- template-bsc-shop-landing.php
		- front-page.php

	bootstrapFiles:
		- phpstan-bootstrap.php

	excludePaths:
		analyse:
			- node_modules
			- tools/php-vendor
			- vendor
			- test-results
			- playwright-report
			- tests/e2e/fixtures

	treatPhpDocTypesAsCertain: false
