$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// ---------------------------------------- //
// -- BSC THEME --------------------------- //
// ---------------------------------------- //

$color__pink: #F7C0CD;
$color__pink-soft: #fdf4f8;
$color__blue: #c7e7f1;
$color__yellow-soft: #fdf4c6;
$color__black: #333333;
$color__white: #ffffff;
$color__gray-050: #f9f9f9;
$color__gray-100: #f3f3f3;
$color__gray-200: #e0e0e0;
$color__gray-300: #d1d1d6;
$color__gray-400: #999999;
$color__gray-500: #888888;
$color__gray-600: #555555;
$color__success: #48bb78;
$color__danger: #fc8181;
$color__warning: #ffe066;

.bsc {

  // Color
  --color--main: #{$color__pink};
  --color--text: #{$color__black};
  --color--blue: #{$color__blue};
  --color--surface: #{$color__white};
  --color--surface-soft: #{$color__pink-soft};
  --color--surface-muted: #{$color__gray-050};
  --color--border: #{$color__gray-300};
  --color--muted: #{$color__gray-500};
  --color--accent-warning: #{$color__yellow-soft};
  --color--accent-success: #{$color__success};
  --color--accent-danger: #{$color__danger};

  // Header
  --size--header-logo-w: 150px;
}
