@mixin mq($max) {
  @media (max-width: $max) {
    @content;
  }
}

.bsc__my-account-header {
  text-align: center;
  padding: 2rem 0;

  .header__logo img {
    width: 250px;
    margin: 0 auto 1rem;
  }

  .header__name {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
  }

  .menu__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
    margin: 2rem 0 0;
    list-style: none;
  }

  .menu__item {
    border: 1px solid #333;
    padding: 0.5rem 1.25rem;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: white;
    transition: all 0.2s ease;
    
    &:hover{
      background-color: #c7e7f1;
      background-color: #fdf4c6;
    }

    a {
      text-decoration: none;
      color: #333;
    }

    &.is-active {
      background-color: #fdf4c6; // amarillo pastel
      font-weight: bold;
    }
  }



}

  $bp-mobile: 480px;
  @include mq($bp-mobile) {

    
  .bsc__my-account-header {
    

      text-align: center;
  padding-bottom: 0px;
  padding-top: 0px;

  .header__name {

  }

  .bsc__title {
    padding-bottom: 0px;
  }

    .menu__items {
      width: 100%;
      padding: 5px 15px;
    }
      .menu__item {
        width: 100%;
      }
 


} 


}

