.bsc__address-wrapper {
  padding: 4rem 2rem;
  background: #fff;
}

.bsc__address-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  align-items: flex-start;
}

.bsc__address-illustration {
  text-align: center;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    height: auto;
  }
}

.bsc__address-card {
  border-left: 1px dashed #999;
  padding-left: 2rem;
    color: #333;
}

.bsc__address-card h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.15rem;
    color: #333;
    letter-spacing: 1px;
}

.bsc__address-subtitle {
  font-size: 0.8rem;
  color: #333;
  letter-spacing: 1px;
  margin-top: 2px;
  margin-bottom: 0.25rem;
}

.bsc__address-content {
    font-size: 0.8rem;
  color: #333;
  letter-spacing: 1px;
  margin-top: 25px;
  margin-bottom: 1rem;

  strong {
    display: block;
    font-weight: 600;
  }
}

.bsc__address-button {
  display: inline-block;
  margin-top: 0px;
  background: #333;
  color: #fff;
  border: 1px solid #333;
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;

  &:hover {
    border-color: #333;
    background-color: white;
    color: #333;
  }
}


    .bsc__shipping-address{
      display: block;
      width: 740px;
      margin: 0 auto;



      h2{
          font-size: 1rem;
      font-weight: 700;
      margin-bottom: 0.15rem;

      padding-bottom: 22px;
        color: #333;
        letter-spacing: 1px;
        text-align:center;
        width: 100%;
        margin: 0 auto;
      }

      .input-text {
        color:#333;
      }

      .button--save-profile{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;

        padding-top: 20px;
        button{
          margin: 10px 0px;
        }
      }
    }