.bsc__address-wrapper {
  padding: 4rem 2rem;
  background: #fff;
}

.bsc__address-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  img {
    max-width: 300px !important;
  }
}

.bsc__address-illustration {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    height: auto;
  }
}

.bsc__address-card {
  border-left: 1px dashed #999;
  padding-left: 2rem;
  color: #333;
}

.bsc__address-card h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.15rem;
  color: #333;
  letter-spacing: 1px;
}

.bsc__address-subtitle {
  font-size: 0.8rem;
  color: #333;
  letter-spacing: 1px;
  margin-top: 2px;
  margin-bottom: 0.25rem;
}

.bsc__address-content {
  font-size: 0.8rem;
  color: #333;
  letter-spacing: 1px;
  margin-top: 25px;
  margin-bottom: 1rem;

  strong {
    display: block;
    font-weight: 600;
  }
}

.bsc__address-row {
  display: flex;
  align-items: flex-start;
  gap: 0.35rem;

  strong {
    display: inline-block;
  }
}

.bsc__address-button {
  margin-top: 0;
  border: 1px solid #333;
  padding: 0.5rem 1.45rem;

  &:hover {
    border-color: #333;
    background-color: white;
    color: #333;
  }
}

.bsc__shipping-address {
  display: block;
  width: 740px;
  margin: 0 auto;

  h2 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.15rem;
    padding-bottom: 22px;
    color: #333;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  .input-text {
    color: #333;
  }

  .button--save-profile {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 20px;

    button {
      margin: 10px 0;
    }
  }
}

@media (max-width: 768px) {
  .bsc__address-wrapper {
    padding: 2rem 0.5rem;
    background: #fff;
  }

  .bsc__address-container {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .bsc__address-content {
    width: 100%;
  }

  .bsc__address-card {
    border: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &:last-child {
      padding-top: 30px;
    }
  }

  .bsc__address-card h3 {
    font-size: 18px;
    margin-bottom: 0;
  }

  .bsc__address-subtitle {
    font-size: 18px;
    margin-bottom: 0;
  }

  .bsc__address-illustration {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .bsc__shipping-address {
    display: block;
    width: 100%;
    padding-top: 30px;
    margin: 0 auto;
  }

  .button--save-profile {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: center !important;
    padding-top: 0 !important;
  }

  .bsc__account-container {
    padding-bottom: 0;
  }
}
