@use '../../mixins/mixins' as mixins;

$sidebar-mobile-font-family: 'Helvetica', sans-serif;
$sidebar-mobile-link-color: #292929;
$sidebar-mobile-cta-height: 45px;
$sidebar-mobile-cta-radius: 30px;

// -------------------------------------------
// Mobile Sidebar Container
// -------------------------------------------
.bsc__sidebar--mobile {
  display: block;
  width: calc(100% - 10px);
  height: 100vh;
  margin-top: 0px;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 1em;

  background-color: #fff;
  box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);

  font-family: $sidebar-mobile-font-family;
  font-size: 13px;
  letter-spacing: 2px;

  // -------------------------------------------
  // Container
  // -------------------------------------------

  .mobile-nav__title {
    display: block;
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #d5d8dc;
    font-size: 14px;

    &::marker {
      content: '';
    }

    &::after {
      // Add arrow icon if needed
    }
  }

  a.mobile-nav__title {
    color: $sidebar-mobile-link-color;
    font-weight: 300;
    text-decoration: none;
  }

  .mobile-nav__title-text {
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
  }

  .mobile-nav__title-icon {}

  .mobile-nav__items {
    display: block;
    padding: 1em;
  }

  .mobile-nav__item {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }



  .mobile-nav__item-link {
    color: $sidebar-mobile-link-color;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
  }

  .mobile-nav__item-text {}

  // -------------------------------------------
  // CTA Button
  // -------------------------------------------

  .sidebar-mobile__button {
    align-items: center;
    display: inline-block;
    font-family: $sidebar-mobile-font-family;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-align: center;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 30px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    height: $sidebar-mobile-cta-height;
    overflow: hidden;
    width: fit-content;
    display: block;
    margin: 25px auto;
    border-radius: $sidebar-mobile-cta-radius;
  }

  .sidebar-mobile__carita{
    width: 200px;
    display: block;
    margin: 10px auto;
    img{
        width: 100%;
    display: block;
    margin: 0 auto;
    }
  }

  // -------------------------------------------
  // Social Media Icons
  // -------------------------------------------

  .sidebar-mobile__socials {
    @include mixins.flex-center;
    gap: 0.5em;
    width: 100%;
  }

  .sidebar-mobile__social {
    --icon-size: 20px;

    @include mixins.flex-center;

    width: 2em;
    height: 2em;
    padding: 0.5em;

    font-size: var(--icon-size, 25px);
    line-height: var(--icon-size, 25px);

    background-color: #fff;
    border-radius: 100%;

    color: #333;
    font-weight: 600;
    text-decoration: none;

    a {
      color: inherit;
      font-weight: inherit;
      text-decoration: none;
      font-size: 32px;
    }

    .fa-tiktok{
      font-size: 28px;
    }

  }

  // -------------------------------------------
  // Footer
  // -------------------------------------------

  .sidebar-mobile__copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0;

    h5,
    h4 {
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
    }

    h5 {
      font-weight: bold;
    }

    h4 {
      font-weight: normal;
    }
  }

  .sidebar-mobile__close {
    position: absolute;
    top: 12px;
    right: 24px;
    font-size: 20px;
    cursor: pointer;
  }

  .sidebar-mobile__brand {
    display: block;
    width: fit-content;
    margin: 1em auto;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    color: #333;
  }
}



#mobileSidebar {
  position: fixed;
  top: var(--header-mobile-sidebar-top);
  left: 0;
  width: 100%;
  height: fit-content;
  background: #fff;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
  z-index: 999;

  &.is-open {
    transform: translateX(0);
    top: var(--header-mobile-sidebar-top);
  }
}



    .sk-tipo-piel-seca .mobile-nav__item-text{
      font-weight: bold !important;
    }
        .sk-tipo-piel-normal .mobile-nav__item-text{
      font-weight: bold !important;
    }
        .sk-tipo-piel-mixta .mobile-nav__item-text{
      font-weight: bold !important;
    }
        .sk-tipo-piel-grasa .mobile-nav__item-text{
      font-weight: bold !important;
    } 
