$menu-title-font: 'Helvetica', sans-serif;

.bsc__profile-dropdown {

    z-index: 1;

  position: absolute;
  top: calc(50% + 15px); // appear just below the button
  right: var(--header-search-right);
  background-color: white;
  border: 1px solid var(--color--text);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
  min-width: 180px;
  padding: 0px;
  display: none;
  border-radius: 0px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li.bsc__profile-dropdown-item--hidden {
      display: none;
    }

    li {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        position: relative;

        hr {
          display: none;
        }

      a {
        display: block;
        padding: 0.75em 1em;
        color: #333;
        text-decoration: none;
        text-align: center;
        width: 100%;
        border-bottom: 0;
        box-sizing: border-box;
        letter-spacing: 0.5px;

      
      }



        &:hover a {
          background-color: #f7f7f7;
          border-bottom: 0;

        }
    }
  }
}

.bsc__profile-dropdown.visible {
  display: block;
}
